body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    background-color: #f4f4f4; 
} 
    
.hidden { 
    display: none; 
} 

#login-screen, #app { 
    max-width: 800px; 
    margin: auto; 
    background: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

button { 
    margin-top: .2rem; 
    padding: .4rem .6rem; 
    background-color: #10031c; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
} 

button:hover { 
    background-color: gray; 
} 

ul { 
    padding: 0; 
    margin: 0; 
    list-style: none; 
} 

input { 
    margin: 2px; 
    padding: 4px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
    box-sizing: border-box;
} 

#category-list { 
    list-style: none; 
    padding: 0; 
} 

.category { 
    margin-bottom: 15px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
} 

.category h3 { 
    margin: 0 0 10px 0; 
} 

.category-totals { 
    margin: 5px 0; 
    padding: 5px; 
    background-color: #f0f0f0; 
    border-top: 1px solid #ccc; 
    font-size: 14px; 
} 

#div-headlines { 
    display: flex; 
    gap: 5px; 
    margin-bottom: 5px; 
} 

#div-headlines h5 { 
    flex: 1; 
    text-align: center; 
    margin: 0; 
    padding: 4px; 
    background-color: #e0e0e0; 
    border-radius: 4px; 
    cursor: text;
} 

.item { 
    display: flex; 
    gap: 5px; 
    margin-bottom: 5px; 
} 

.item input { 
    flex: 1; 
} 

#delete-button { 
    margin-left: 5px; 
} 

.probTotal, .actuTotal { 
    padding: 5px; 
    margin: 5px 0; 
    border-radius: 4px; 
} 

.probTotal { 
    border: 1px dashed black; 
    background-color: #f1f0f0d2; 
} 

.actuTotal { 
    border: 2px solid black; 
    background-color: #a7e7d8d2; 
} 

@media (min-width: 415px) { 
    #div-headlines h5, .item input { 
        width: auto; 
    } 
} 

@media (min-width: 660px) { 
    #div-headlines h5, .item input { 
        width: auto; 
    } 
} 
